@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #b3ffab, #12fff7);

    /* centralizar section main */
    display: flex;
    justify-content: center;
    align-items: center;
}

body .main-content {
    display: flex;
}

body .main-content .main-right img{
    width: 30vw;
    height: 60vh;

    border-radius: 0px 16px 16px 0px;
}

body .main {
    width: 30vw;
    height: 60vh;

    background-color: #83D680;
    border-radius: 16px 0px 0px 16px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

body .main a {
    color: #446841;
    text-shadow: 1px 3px 3px #ffffff;
    font-weight: bold;
}

body .main form {
    width: 20rem;
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
}

body .main form input{
    margin-top: 1.2rem;
    border-radius: 8px;
    border: none;
    outline: 0;
    height: 40px;
    padding: 10px;
}

body .main form .btn {
    background-color: #6E986B;
    color: #FFF;
}

body .main form .btn:hover {
    background-color: #446841;
    color: #FFF;
}

body .main form input:nth-child(1) {
    margin-top: 0;
}